<mat-card class="mt-4">

<mat-action-list>

    
        <mat-list role="list">
            <a  mat-list-item routerLink="/admin-dashboard" ><mat-icon mat-list-icon>home</mat-icon>Home</a>
            <button mat-list-item routerLink="/admin-dashboard/profile"><mat-icon mat-list-icon>account_circle</mat-icon>Profile</button>
            <button mat-list-item routerLink="/admin-dashboard/category"><mat-icon mat-list-icon>list</mat-icon>Categories</button>
            <button mat-list-item routerLink="/admin-dashboard/add-category"><mat-icon mat-list-icon>add_circle_outline</mat-icon>Add Categories</button>
            <button mat-list-item routerLink="/admin-dashboard/show-quizzes"><mat-icon mat-list-icon>quiz</mat-icon>Quizes</button>
            <button mat-list-item routerLink="/admin-dashboard/add-quizzes"><mat-icon mat-list-icon>add</mat-icon>Add Quiz</button>
            <button mat-list-item routerLink="/admin-dashboard/profile"><mat-icon mat-list-icon>logout</mat-icon>Log Out</button>
        </mat-list>
</mat-action-list>

</mat-card>
